@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Firlest';
  src: url('/fonts/firlest-regular.woff2') format('woff2'),
       url('/fonts/firlest-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

.clip-triangle {
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}