@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Firlest';
  src: url('/fonts/firlest-regular.woff2') format('woff2'),
       url('/fonts/firlest-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

.clip-triangle {
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.checkbox-custom {
  appearance: none;
  width: 70px;
  height: 53px;
  border: 4px solid #5D5D5D;
  border-radius: 14px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox-custom:checked::before {
  content: "✓";
  color: #5D5D5D;
  font-size: 30px;
  font-weight: bold;
}